<br /><br />
<div class="form-container">
    <h3>Forgot Password</h3>
    <hr />
    <div *ngIf="successMessage" class="text-success">
        <strong>{{ successMessage }}</strong>
    </div>
    <div *ngIf="errorMessage" class="text-danger">
        <strong>{{ errorMessage }}</strong>
    </div>
    <br />
    <form [formGroup]="forgotPasswordForm" (submit)="onSubmit()">
        <div class="form-group mb-3">
            <label for="email">Email</label>
            <input formControlName="email" type="email" class="form-control" id="email" name="email" required />
        </div>
        <p class="text-info">You will receive a link to reset your password via email.</p>
        <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
    </form>
</div>
<br />
