<br /><br />
<div class="form-container">
    <h3>Reset Password</h3>
    <hr />
    <div *ngIf="successMessage" class="text-success">
        <strong>{{ successMessage }}</strong>
    </div>
    <div *ngIf="errorMessage" class="text-danger">
        <strong>{{ errorMessage }}</strong>
    </div>
    <br />
    <form [formGroup]="passwordResetForm" (submit)="onSubmit()">
        <div class="form-group mb-3">
            <label for="newPassword">New Password</label>
            <input formControlName="newPassword" type="password" class="form-control" id="newPassword" name="newPassword" required />
        </div>
        <br />
        <div class="form-group mb-3">
            <label for="confirmPassword">Confirm Password</label>
            <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
<br />
